<!doctype html>
<html class="no-js" ng-app style="overflow: hidden;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Signalement : Admin </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body style="overflow: hidden;" ng-controller="signalement">
    <div class="wrapper fixed__footer">
        <section class="categories-slider-area bg__white" style=" background-image:url(about-bg.jpg); background-position: center; height: 800px; width: 100%;color: white;">
            <div style="margin-left: 0px;float: left; width: 20%;min-height: 100%;text-align: center;background-color: rgba(0,0,0,0.9);padding: 5px; color:white;">
                <img src="images/logo/logo.png" width="100%">
                <hr>
                <h4 style="margin-bottom: 10%;"><a href="Statistique.html">Statistique</a></h4>
                <h4 style="margin-bottom: 10%;"><a href="Recherche.html">Recherche</a></h4>
                <h4 style="margin-bottom: 10%;"><a href="GUtilisateur.html">Liste Utilisateur</a></h4>
                <h4 style="margin-bottom: 10%;"><a href="GSignalement.html">Gestion Signalement</a></h4>
                <h4 style="margin-bottom: 10%;"><a href="Region.html">Gestion Region</a></h4>
                <h4 style="margin-bottom: 10%;"><a href="chefRegion.html">Chef Region</a></h4>
                <h4 style="margin-bottom: 10%;"><a href="Carte.html">Carte</a></h4>
                <h4 style="margin-bottom: 10%;"><a href="index.html">Deconnexion</a></h4>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 float-left-style">
                        <div class="slider__container slider--one" style="margin-top: 80px;margin-left: -50px; min-height: 500px;text-align: center;background-color: rgba(0,0,0,0.6);padding: 50px; color:white;">
                            <h2 style="color:white;">Les Signalements</h2>
                            <hr>
                            <div style="overflow:scroll; width: 100%; height: 400px;">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr style="color: white;text-align: center;">
                                            <th scope="col">id</th>
                                            <th scope="col">Problème</th>
                                            <th scope="col">Descrition</th>
                                            <th scope="col">Region</th>
                                            <th scope="col">Statut</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="signaux in listeSignalement">
                                            <th scope="row">{{signaux.idSignalement}}</th>
                                            <td>{{signaux.designationProbleme}}</td>
                                            <td>{{signaux.descriptionProbleme}} </td>
                                            <td>{{signaux.designationRegion}} </td>
                                            <td>{{signaux.designationStatut}}</td>
                                            <td><a data-toggle="modal" data-target="#{{signaux.idSignalement}}" title="Quick View" class="quick-view modal-view detail-link" href="#">Modifier/Supprimer</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="quickview-wrapper" style="width: 800px;margin: 0px auto;" ng-controller="signalement">
        <div class="modal fade" id="{{signaux.idSignalement}}" tabindex="-1" role="dialog" style="width: 800px;margin: 0px auto;" ng-repeat="signaux in listeSignalement">
            <div class="modal-dialog modal__container" role="document" style="width: 800px;margin: 0px auto;">
                <div class="modal-content">
                    <div class="modal-header" style="width: 800px;margin: 0px auto;">
                        <h2 style="text-align: center;">Modification/Suppression</h2>
                    </div>
                    <div class="modal-body" style="min-height: 500px;text-align: center;background-color: rgba(0,0,0,0.9);padding-top: 50px; color:white;">
                        <div style="width:400px;margin:0px auto;margin-bottom: 50px;">
                            <p>Region : {{signaux.designationRegion}}</p>
                            <p>Problème : {{signaux.designationProbleme}}</p>
                            <p>Coordonnées : X :{{signaux.coordonneX }} Y : {{signaux.coordonneY }}</p>
                            <p>Statut : {{signaux.designationStatut}}</p>
                            <p>idProbleme : {{signaux.idProbleme}}</p>
                            <p>idRegion : {{signaux.regionId}}</p>
                        </div>
                        <form style="width:200px;float:left;min-height: 200px;padding: 10px;margin-left: 40px;">
                            <h4>Modification</h6>
                                <hr>
                                <p>Statut :
                                    <select id="Statut" style="color:green">
                                        <option value="" selected="selected">Select one</option>
                                        <option value="1">En cours</option>
                                        <option value="2">Finis</option>
                                        <option value="3">Neutre</option>
                                    </select>
                                </p>
                                <button type="button" class="btn btn-primary" ng-click="updateSignalement(signaux.idSignalement)">Modifier</button>
                        </form>
                        <form style="border:solid 2px white;width:200px;float:right;min-height: 200px;padding: 10px;margin-right: 50px;">
                            <h4>Suppression/Affectation</h6>
                                <hr>
                                <button type="button" class="btn btn-danger" ng-click="deleteSignalement(signaux.idSignalement)">Supprimer</button>
                                <button type="button" class="btn btn-success" ng-click="affecterSignalement(signaux.idProbleme, signaux.regionId)">Affecter</button>
                        </form>
                        <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close" style="margin-top:200px"> Retour</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="./angular/angular.min.js"></script>
<script src="./controler/controler.js"></script>
<script src="js/vendor/jquery-1.12.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>